body {
  font-family: sans-serif;
  max-width: 800px;
  margin: 2rem auto;
}

#result {
  margin-bottom: 2rem;
  padding: 1rem;
  border: 5px inset #0A2239;
  border-radius: 5px;
  text-align: center;
  background-color: #007EA7
}

.yes strong,
.no strong {
  font-size: 8rem;
  display: block;
  margin-bottom: 0.5rem;
}

.yes, .no {
  font-size: 2rem;
}

.yes {
  color: green;
}

.no {
  color: red;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 1rem;
}

th, td {
  padding: 0.5rem;
  border: 1px solid #ddd;
  text-align: center;
}

th {
  background: #f4f4f4;
}


#date-check-btn {
  background-color: #022749;
  color: white;
  border: none;
  padding: 0.6rem 1.2rem;
  font-size: 1rem;
  border-radius: 999px; /* Fully rounded pill shape */
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

#date-check-btn:hover {
  background-color: #005fa3;
  transform: scale(1.03);
}

#date-check-btn:active {
  transform: scale(0.97);
}