/* General body and layout styles */
body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: #0A2239;
  color: #FFFFFF;
  margin-top: 0;
  padding: 1rem 0;
  box-sizing: border-box;
}

html, body {
  margin: 0;
  margin-top: 0;
  padding: 0;
}

/* Heading and text styles with new font stack */
h1 {
  font-family: Perpetua, Baskerville, "Big Caslon", "Palatino Linotype", Palatino, 
    "URW Palladio L", "Nimbus Roman No9 L", serif;
  font-size: 14px;
  font-style: normal;
  font-variant: normal;
  font-weight: 400;
  line-height: 15.4px;
  color: #FFFFFF;
  text-align: center;
  margin-bottom: 1.5rem;
}

h2 {
  color: #FFFFFF;
  text-align: left;
  margin-top: 3rem;
}

h3 {
  font-family: Perpetua, Baskerville, "Big Caslon", "Palatino Linotype", Palatino, 
    "URW Palladio L", "Nimbus Roman No9 L", serif;
  font-size: 14px;
  font-style: normal;
  font-variant: normal;
  font-weight: 700;
  line-height: 15.4px;
}

p {
  font-family: Perpetua, Baskerville, "Big Caslon", "Palatino Linotype", Palatino, 
    "URW Palladio L", "Nimbus Roman No9 L", serif;
  font-size: 14px;
  font-style: normal;
  font-variant: normal;
  font-weight: 400;
  line-height: 20px;
}

blockquote {
  font-family: Perpetua, Baskerville, "Big Caslon", "Palatino Linotype", Palatino, 
    "URW Palladio L", "Nimbus Roman No9 L", serif
